html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.navHeader a{
  font-size: 2.5rem;
  text-decoration: none;
}
.fs-1rem{
  font-size: 1rem;
}
.fs-2rem{
  font-size: 2rem;
}
